* {
    padding: 0em;
    margin: 0em;
}

html {
    font-family: Georgia, "Times New Roman", serif;
    margin: auto;
}

.aiutiNascosti {
    display: none;
}

/*
=========================
SEZIONE HEADER
=========================
*/

#header {
    padding: 1.0em 0em 1.0em 0em;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#header h1 {
    font-size: 2.5em;
}

#logo {
    display: none;
}

#header h2 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
}

/*
=========================
SEZIONE BREADCRUMB
=========================
*/

#breadcrumb {
    padding: 0.5em 0 0.5em 1.0em;
    font-size: 1.0em;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*
=========================
SEZIONE MENU
=========================
*/

#menu {
    display: none;
}

/*
=========================
SEZIONE RIGHTSIDEBAR
=========================
*/

#rightSidebar {
    display: none;
}

/*
=========================
SEZIONE CONTENUTO
=========================
*/

.contenutoGenerale {
    width: 100%;
    padding: 0.5em;
    font-size: 0.9em;
}

.contenutoGenerale h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.contenutoGenerale h2 {
    font-size: 1.2em;
}

.contenutoGenerale p {
    margin-left: 0em;
    margin-bottom: 1em;
}

.contenutoGenerale ul {
    margin-left: 2em;
    margin-bottom: 1em;
}

.imgCon {
    display: none;
}

p {
    margin-left: 0em;
    margin-bottom: 1em;
    text-align: justify;
}

.aiutoTornaSu {
    display: none;
}

/*
=========================
SEZIONE TABELLA
=========================
*/

table {
    width: 90%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

table, tr, td, th {
    border: 1px solid #000;
}

table thead, table tfoot{
    background-color: #FFF;
    color: #000;
}

table td, table th {
    padding: 0.5em;
}

tfoot {
    font-size: 0.8em;
}

table caption {
    margin-bottom: 0.9;
    font-size: 1.1em;
}

/*
=========================
SEZIONE FOOTER
=========================
*/

#footer {
    text-align: center;
    font-size: 0.7em;
    padding: 0.5em;
    padding-top: 1.3em;
    font-style: italic;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#imgValidCode {
    display: none;
}

#imgValidCSS {
    display: none;
}